@model DateTime
@{ 
var culture = CultureInfo.GetCultureInfo("be-BY");
}

<input type="text" value="@Model.Day" />

<select name="month">
    @for (int month = 1; month <= 12; month++)
    {
        if (Model.Month == month)
        {
            <option value="@month" selected>@culture.DateTimeFormat.MonthNames[month - 1]</option>
        }
        else
        {
            <option value="@month">@culture.DateTimeFormat.MonthNames[month - 1]</option>
        }
    }
</select>

<select name="year">
    @for (int year = DateTime.Now.Year-200; year <= DateTime.Now.Year; year++)
    {
        if (Model.Year == year)
        {
            <option value="@year" selected>@year</option>
        }
        else
        {
            <option value="@year">@year</option>
        }
    }
</select>