@model Quizz
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
@using (Html.BeginForm())
{
    <input type="hidden" name="quizzId" value="@Model.Id" />
    @*  <form action="@Url.Action("Results", "Quizz", new  WebApplicationQuizz.Models.QuizzAnswersModel {idQuizz = Model.Id, idAnswered = new int [Model.Questions.Count]})" method="post">*@
    <ol>
        @*@foreach (var question in Model.Questions)
        {
        <li>
            @question.QuestionText
            <a href="@Url.Action("EditQuestion", "QuizzAdmin", new { id = question.Id, quizzId = Model.Id } )">edit</a>
            @foreach (var answer in question.Answers)
            {
                <div>
                    @Html.RadioButton(question.Id.ToString(), answer.Id.ToString(), isChecked: false) @answer.AnswerText
                    <a href="@Url.Action("EditAnswer", "QuizzAdmin", new { id = answer.Id, quizzId = Model.Id, questionId = question.Id } )">edit</a>
                </div>
            } <br />



        </li>
        }*@

        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            var question = Model.Questions[i];
            @question.QuestionText
            <a href="@Url.Action("EditQuestion", "QuizzAdmin", new { id = question.Id })">edit</a>
            <li>
                @for (int j = 0; j < question.Answers.Count; j++)
                {
                    var answer = question.Answers[j];
                    <div>
                        <input type="radio" dirname="@question.Id.ToString()" name="idAnswered[@i]" value="@answer.Id" />@answer.AnswerText
                        <a href="@Url.Action("EditAnswer", "QuizzAdmin", new { id = answer.Id} )">edit</a>
                    </div>
                }
            </li>
        }
    </ol>

    <input type="submit" value="Проверить" />
    <!--  </form>-->
}






