@model TitanicWebApplication.Models.PassengersViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/Passengers/Countries">Список стран</a>
<a href="@Url.Action("Countries")">Список стран</a>
@Html.ActionLink("Список стран", "Countries")

<br /><br />

<a href="/Home/Index">Дом, милый дом</a>
<a href="@Url.Action("Index", "Home")">Дом, милый дом</a>
@Html.ActionLink("Дом, милый дом", "Index", "Home")


<ol>
@foreach (var pax in Model.Passengers)
{
<li><a href="@Url.Action("Info", new { id = pax.UniqueId })">@pax.FullName</a></li>
}
</ol>