@model TitanicPassenger
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@if (Model == null)
{
    <div>Passenger not found!</div>
}
else
{
    <div>FamilyName: @Model.FamilyName</div>
    <div>GivenName: @Model.GivenName</div>
    <div>Class: @Model.Class</div>
    <div>JobTitle: @Model.JobTitle</div>
    <div>TicketPrice: @Model.TicketPrice (@Model.TicketPrice.ModernEquivalent)</div>
}*@

<div>FamilyName: @Model.FamilyName</div>
<div>GivenName: @Model.GivenName</div>
<div>Class: @Model.Class</div>
<div>JobTitle: @Model.JobTitle</div>
<div>TicketPrice: @Model.TicketPrice (@Model.TicketPrice.ModernEquivalent)</div>
@if (Model.BirthAddress != null)
{
    <div>@Model.BirthAddress.Country, @Model.BirthAddress.State, @Model.BirthAddress.City</div>
}
