@model IEnumerable<WebApplicationQuizz.Models.QuizzInfoModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Список тестов</h2>
<div>
    @if (Request.Cookies["user"] == null)
    {
        <a href="@Url.Action("Login","AuthReg")">вход</a>
        <a href="@Url.Action("Registration", "AuthReg")">регистрация</a>

    }
    else
    {
        <a href="@Url.Action("History","User")">история</a>
        <a href="@Url.Action("Logout","AuthReg")">выход</a>
    }
</div>

<ul>
    @foreach (var qn in Model)
    {
        <li>
            <a href="@Url.Action("Index", "Quizz", new { id = qn.Id })">@qn.Name</a>
            (<a href="@Url.Action("Edit", "Quizz", new { id = qn.Id })">edit</a>)
        </li>
    }
</ul>
