
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Configure</title>
</head>
<body>
    @using (Html.BeginForm("Configure", "Home"))
    {
        <div>Любимое значение A: <input name="a" type="text" value="@ViewData["a"]" /></div>
        <div>
            Любимый оператор
            <select name="op">
                <option value="">Нет предпочтения</option>
                <option value="+" @((string)ViewData["op"] == "+" ? " selected='selected'" : "")>+</option>
                <option value="-" @((string)ViewData["op"] == "-" ? " selected='selected'" : "")>-</option>
                <option value="*" @((string)ViewData["op"] == "*" ? " selected='selected'" : "")>*</option>
                <option value="/" @((string)ViewData["op"] == "/" ? " selected='selected'" : "")>/</option>
            </select>
        </div>
        <div>Любимое значение B: <input name="b" type="text" value="@ViewData["b"]" /></div>
        <input type="submit" value="Сохранить" />
    }
</body>
</html>
