@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>@Html.ActionLink("Настроить", "Configure")</div>

    @if (Model != null)
    {
        <div>Результат: @Model</div>
    }

    @using (Html.BeginForm("Calculate", "Home", FormMethod.Get))
    {
        <input name="a" type="text" value="@ViewData["a"]" />
        <select name="op">
            <option value="+" @((string)ViewData["op"] == "+" ? " selected='selected'" : "")>+</option>
            <option value="-" @((string)ViewData["op"] == "-" ? " selected='selected'" : "")>-</option>
            <option value="*" @((string)ViewData["op"] == "*" ? " selected='selected'" : "")>*</option>
            <option value="/" @((string)ViewData["op"] == "/" ? " selected='selected'" : "")>/</option>
        </select>
        <input name="b" type="text" value="@ViewData["b"]" />
        <input type="submit" value="Вычислить" />
    }

    @Html.Partial("_history")
</body>
</html>
