@model Quizz
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>@Model.Name</h2>



    <form action="@Url.Action("Results", "Quizz", new { id = Model.Id })" method="post">
        <ol>
            @foreach (var item in Model.Questions)
            {
                <li>
                    @item.QuestionText<br />
                    @foreach (var answers in item.Answers)
                    {
                        <div>
                         
                            @Html.RadioButton(item.QuestionText,answers.AnswerText,isChecked: false) @answers.AnswerText<br />
                        </div>
                    } <br />



                </li>
            }
        </ol>

        <input type="submit" value="Проверить" />
    </form>






