@model Quizz
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>@Model.Name</h2>



    <form action="@Url.Action("Results", "Quizz", new { id = Model.Id })" method="post">
        <ol>
            @foreach (var question in Model.Questions)
            {
            <li>
                @question.QuestionText
                <a href="@Url.Action("EditQuestion", "QuizzAdmin", new { id = question.Id, quizzId = Model.Id } )">edit</a>
                @foreach (var answer in question.Answers)
                {
                    <div>
                        @Html.RadioButton(question.QuestionText, answer.AnswerText, isChecked: false) @answer.AnswerText
                        <a href="@Url.Action("EditAnswer", "QuizzAdmin", new { id = answer.Id, quizzId = Model.Id, questionId = question.Id } )">edit</a>
                    </div>
                } <br />



            </li>
            }
        </ol>

        <input type="submit" value="Проверить" />
    </form>






